[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = "sanysa moura "
	email = 105952682+sanysamoura@users.noreply.github.com
